
/** Bootstrap Overrides **/
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    background-color: #01020a;
}
.nav-stacked {
    margin-bottom: 2em;
}

/** Sticky footer with fixed navbar **/
/** http://getbootstrap.com/2.3.2/examples/sticky-footer-navbar.html# **/
html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
    margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
    height: 155px; /* .push must be the same height as .footer */
}


/** Custom Styles **/
#wrap > .container {
    margin-bottom: 48px;
}

.details-image img {
    max-width: 90%;
}

input[type="file"] {
    line-height: 2.5em;
}


.account-details > tbody > tr > td {
    border-top: none;
}

.account-details > tbody > tr > td:first-child {
    font-weight: bold;
}

.table tr.no-border td {
    border-top: none;
}

.strong {
    font-weight: 700;
}

.btn {
    margin: 3px;
}

.jumbotron{
  background-color: #030b2f;
  color:white;
  font-weight: bold;
  padding: 15px;
}

.thumbnail{
    border: solid #cccccc 2px;
    word-wrap:break-word;
    background-color:#f2f2f2;
    max-width:275px;
    min-width: 275px;
    margin-right:15px ;
}
.boloImageContainer {
    overflow: hidden;
    position: relative;
}
.boloImageCenterer {

}
.boloImageCenterer img {
    display: block;
    margin: 0 auto;
    border: solid #cccccc 2px;
    height: 250px;
    width: 250px;
}
.caption{
}
.status{

}
.status h2 {

font-family: "Courier New", Courier, monospace;
    font-weight: 900;
    color: red;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
   /* position: absolute;*/
    top: 10%;
    left: 50%;
    font-size: 2rem;
    /*transform: translate(-50%, -50%);*/
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #008cba;
}

.ui-dialog-titlebar-close{
    display: none;
}

#purgeRange{
    margin-left: 10px;


}
