extends layout


block jumbo
    .jumbotron
        .container
            div.row
                div.col-xs-2.col-md-10
                    p Active BOLOs
                div.col-xs-2
                    .dropdown
                        button.dropbtn(onclick='myFunction()') Filter by agency
                          |   
                          #myDropdown.dropdown-content
                            a.btn.btn-default(href = "/bolo/", type="button") View all
                            for agency in agencies
                                a.btn.btn-default(href="/bolo/" + agency.name, type="button") #{agency.name}

            script.
                function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                }
                   
                window.onclick = function(event) {
                  if (!event.target.matches('.dropbtn')) {

                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                      var openDropdown = dropdowns[i];
                      if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                      }
                    }
                  }
                }

                    
block content
    include ./partials/global-alerts.jade

    if bolos && 0 === bolos.length
        p.lead No active BOLOs at this time.

    .row
        for bolo in bolos
            div.col-sm-6.col-md-3
                include ./partials/bolo-thumbnail.jade
                    .actions
                        a.btn.btn-default( href="/bolo/edit/" + bolo.id, role="button" ) Edit
                        a.btn.btn-default( href="/bolo/details/" + bolo.id role="button" ) Details
                        a.btn.btn-warning( href="/bolo/archive/" + bolo.id role="button" ) Archive

    .row.text-center
        - var route = '/bolo'
        include ./partials/paging.jade


